build/
cmake-build-*/
out/
openwrt-sdk/
*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.so
*.dylib
*.ipk
*.apk

logs/
*.log

**/portal/assets/css/
**/portal/assets/js/alpine.js
**/portal/daisyui.mjs

.idea/
.vscode/
.vs/
*.iml
.DS_Store
Thumbs.db

TEMP/
