# CONFIG_LIBCURL_COOKIES is not set
# CONFIG_LIBCURL_FILE is not set
# CONFIG_LIBCURL_FTP is not set
# CONFIG_LIBCURL_HTTP2 is not set
# CONFIG_LIBCURL_HTTP_AUTH is not set
# CONFIG_LIBCURL_MBEDTLS is not set
CONFIG_LIBCURL_NOSSL=y
# CONFIG_LIBCURL_PROXY is not set
# CONFIG_LIBCURL_UNIX_SOCKETS is not set
# CONFIG_LIBCURL_ZLIB is not set
CONFIG_PACKAGE_libcurl=y
