* {
  -webkit-user-select: none;
  user-select: none;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #faffff;
}

body {
  margin: 0;
}

img {
  pointer-events: none;
}

#main {
  display: flex;
  max-height: 100vh;
}

#content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.card {
  min-width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.1s;
}

.card-title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 5px;
}

.card-content {
  margin-left: 5px;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  div {
    margin-bottom: 10px;
    span {
      margin-left: 10px;
    }
  }
}

.choose-btn {
  margin-right: 10px;
  height: 30px;
  width: 55px;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 6px;
  border: solid 1px #e4e4e4;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  transition: all 0.2s ease;
}

.choose-btn:hover {
  border: solid 1px #374eff;
  cursor: pointer;
}

.btnon {
  border: solid 1px #374eff;
  background-color: #3a50fe;
  color: white;
}

.on {
  background-color: #dbdbdb;
  font-weight: bold;
}

@media (max-width: 768px) {
  #main {
    display: flex;
    flex-direction: column;
  }
  .card {
    min-width: 250px;
  }
  .card-title {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 2px;
  }
  .choose-btn {
    font-size: 13px;
    height: 28px;
    width: 52px;
  }
}
